.write {
  height: 100vh; /* Optionally, make the container fill the entire viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ql-editor {
  background-color: white;
}

.text-area {
  height: 85%;
  width: 80%;
}

.title-area {
  width: 50%;
  height: 4%;
  font-size: 140%;
}

.quill-editor {
  background-color: white;
  color: black;
  width: 70%;
  height: 75%;
}

.button-container {
  padding-top: 100px;
  width: 100%;
}

.save-button {
  background-color: red;
  z-index: 100;
  width: 100%;
  height: 50%;
}
