.left-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 8%;
  height: 100%;
  background-color: #283044;
  color: #fff;
  padding: 20px;
}

.left-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-selection {
  display: flex !important;
  align-items: center !important;
  margin-bottom: 0px !important;
  padding: 10px !important;
  margin: 10px !important;
  text-decoration: none;
  font-size: 25px;
  flex: 1 !important;
  text-align: center !important;
  color: var(--bs-heading-color);
}

.navbar-selection:hover {
  color: #66fcf1 !important;
  cursor: pointer !important;
}

.login-handler-div {
  user-select: none;
  white-space: nowrap;
  font-size: 20px;
}

.login-icon {
  position: absolute;
  right: 30px;
  top: 248px;
}

.logout-icon {
  position: absolute;
  right: 13px;
  top: 248px;
}

/*media query that whenever the screen is less than 1920px it will hide the navbar completely
add to it later to maybe make it a tab system*/
@media (max-width: 1600px) {
  .left-navbar {
    visibility: hidden;
  }

  .navbar-selection {
    visibility: hidden;
  }
}
